@charset "UTF-8";
/*Mixin de tamaños*/
@import url("https://fonts.googleapis.com/css2?family=Berkshire+Swash&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;500&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Noto+Serif+TC:wght@400;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;400&display=swap");
main h1 {
  font-family: "Berkshire Swash", cursive;
  font-size: 55px;
  color: #d9c485;
  text-align: center;
  padding-top: 15px;
}
main .section_principal {
  display: flex;
  width: 600px;
  height: 530px;
  margin-left: 650px;
  padding-top: 20px;
}
main .section_principal img {
  width: 0px;
  flex-grow: 1;
  background-size: fill;
  opacity: 0.8;
  transition: 0.5s ease;
}
main .section_principal img:hover {
  cursor: crosshair;
  width: 320px;
  opacity: 1;
  filter: contrast(120%);
}
main section article .parrafo-principal {
  display: flex;
  font-family: "Poppins", sans-serif;
  color: #b88a44;
  font-size: 20px;
  align-items: center;
  padding: 20px 15px;
}
main .imagenes-emblemas {
  display: flex;
  padding: 20px;
  justify-content: space-between;
}
main .imagenes-emblemas img {
  width: 230px;
  height: auto;
  padding: 10px;
}
main .imagenes-emblemas img:hover {
  opacity: 0.8;
  filter: drop-shadow(2px 4px 6px black);
  border: 4px solid #b88a44;
}

main .section-casas {
  padding: 5px;
  text-align: center;
}
main .section-casas h2, main .section-casas h3 {
  font-family: "Noto Serif TC", serif;
  padding: 5px;
  color: #b88a44;
}
main .section-casas .imagen-fondo {
  width: 650px;
  height: 450px;
  border: 3px solid #4d2818;
}
main .section-casas article .parrafos-casas {
  font-family: "Poppins", sans-serif;
  text-align: center;
  padding: 15px;
  color: #b88a44;
}
main .contenedor-imagenes-casas {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(4, 1fr);
  gap: 20px;
  margin: 15px 20px;
  width: auto;
}
main .contenedor-imagenes-casas .imagen-casa-serie {
  display: flex;
  flex-direction: column;
  align-items: center;
}
main .contenedor-imagenes-casas .imagen-casas {
  width: 200px;
  height: 200px;
  padding: 5px;
  justify-self: center;
}
main .contenedor-imagenes-casas .imagen-casas:hover {
  width: 250px;
  transition: 2s;
  border: 2px outset #4d2818;
}
main .contenedor-imagenes-casas .boton-casas {
  width: 100px;
  height: 30px;
  margin: 0px 140px;
  background-color: black;
  color: #b88a44;
  border: 2px solid #b88a44;
  font-family: "Roboto", sans-serif;
}
main .contenedor-imagenes-casas .boton-casas:hover {
  background-color: #b88a44;
  color: black;
  font-family: "Roboto", sans-serif;
  border: 2px solid black;
}

.contenedor-imagenes-personajes {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, 1fr);
  gap: 20px;
  margin: 15px 20px;
  width: auto;
}
.contenedor-imagenes-personajes .imagen-personaje-serie {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.contenedor-imagenes-personajes .imagen-personajes {
  width: 300px;
  height: 300px;
  margin: 5px;
  border: 4px solid #4d2818;
}
.contenedor-imagenes-personajes .parrafos-personajes {
  font-family: "Poppins", sans-serif;
  text-align: center;
  font-size: 15px;
  margin: 5px;
  width: 250px;
  color: #b88a44;
}

.imagenes-caminantes .imagen-personajes {
  width: 300px;
  height: 300px;
  margin: 5px;
  border: 4px solid #4d2818;
}
.imagenes-caminantes .parrafos-casas {
  font-family: "Poppins", sans-serif;
  text-align: center;
  padding: 15px;
  color: #b88a44;
}

iframe {
  width: 1000px;
  height: 500px;
  border: 4px solid #4d2818;
}

main section .video-principal {
  display: flex;
  justify-content: center;
  padding: 25px;
}
main section .parrafo-precuela {
  font-family: "Poppins", sans-serif;
  font-size: 20px;
  padding: 30px 10px;
  color: #b88a44;
}

.carrito-compras {
  display: flex;
  justify-content: flex-end;
}
.carrito-compras .titulo-compras {
  font-family: "Noto Serif TC", serif;
  font-size: 15px;
  color: #b88a44;
}
.carrito-compras .imagen-carrito {
  width: 35px;
  height: 35px;
}

main .titulo-producto {
  font-family: "Noto Serif TC", serif;
  display: flex;
  justify-content: center;
  font-size: 50px;
  color: #b88a44;
}
main .contenedor-imagen-compra {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: repeat(3, 1fr);
  gap: 100px;
  margin: 15px 20px;
  width: auto;
}
main .imagen-producto {
  width: 200px;
  height: 200px;
  padding: 5px;
  justify-self: center;
}
main .imagen-personajes-compra {
  width: 200px;
  height: 200px;
}
main .imagen-personajes-compra:hover {
  border: 3px solid #b88a44;
  transition: 2s;
  transform: scale(1.3);
  overflow: hidden;
}
main .parrafo-compras {
  font-family: "Roboto", sans-serif;
  font-size: 15px;
  display: flex;
  flex-direction: column;
  align-items: center;
  color: #b88a44;
}
main .form-compras {
  display: flex;
  flex-direction: column;
  align-items: center;
}
main .boton-compras {
  width: 100px;
  font-family: "Roboto", sans-serif;
  background-color: #b88a44;
  display: flex;
  flex-direction: column;
  align-items: center;
}
main .boton-compras:hover {
  filter: drop-shadow(1px 1px 1px white);
}

.titulo-ventas {
  display: flex;
  justify-content: center;
  padding: 10px;
  font-size: 25px;
  font-family: "Roboto", sans-serif;
  color: #b88a44;
}

.parrafo-ventas {
  display: flex;
  justify-content: center;
  font-size: 25px;
  font-family: "Roboto", sans-serif;
  color: #b88a44;
}

.contacto-mapa {
  display: flex;
}
.contacto-mapa .mapa {
  padding: 15px;
  margin-left: 650px;
  width: 600px;
}

.formulario-ventas {
  display: flex;
  flex-direction: column;
  padding: 10px;
}
.formulario-ventas .titulo-formulario {
  display: flex;
  padding: 15px;
  flex-direction: row;
  justify-content: center;
  font-size: 25px;
  font-family: "Roboto", sans-serif;
  color: #b88a44;
}
.formulario-ventas .form-contacto {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.formulario-ventas .form-contacto .input-contacto {
  width: 300px;
  height: 30px;
  border: 2px solid #b88a44;
}
.formulario-ventas .form-contacto label {
  font-family: "Noto Serif TC", serif;
  margin: 0px 5px;
  color: #b88a44;
}
.formulario-ventas .form-contacto textarea {
  width: 300px;
  height: 315px;
  border: 2px solid #b88a44;
}
.formulario-ventas .form-contacto .form-contacto--boton {
  display: flex;
}
.formulario-ventas .form-contacto .form-contacto--boton .form-compras {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.formulario-ventas .form-contacto .form-contacto--boton .boton-compras {
  width: 100px;
  font-family: "Roboto", sans-serif;
  background-color: #b88a44;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.formulario-ventas .form-contacto .form-contacto--boton .boton-compras:hover {
  filter: drop-shadow(1px 1px 1px white);
}

/*Fuentes*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/*Estilos Body*/
body {
  background-color: black;
}

/*Estilos Header*/
header {
  background-image: url(../img/Imagen-Header.jpg);
  height: 150px;
  width: 100%;
  background-size: cover;
}
header .logo {
  width: 150px;
  height: 140px;
}
header .navbar-toggler {
  background-color: white;
}
header .navbar-toggler-icon {
  background-color: white;
}
header .nav-link {
  font-family: "Roboto", sans-serif;
  font-size: 20px;
  color: white;
}
header .nav-link:hover {
  color: #b88a44;
}
header .navbar-collapse {
  justify-content: flex-end;
  flex-grow: 0;
}

/*Footer*/
footer {
  background-image: url(../img/Imagen-Footer.jpg);
  background-size: cover;
  width: 100%;
  height: 100px;
  padding: 20px;
  margin-top: 130px;
}
footer .iconos-footer {
  text-align: center;
  color: white;
}
footer p {
  font-family: "Noto Serif TC", serif;
}

/*Medias Queries*/
@media only screen and (max-width: 1024px) {
  /*Index General*/
  header #navbarSupportedContent ul .nav-item {
    display: flex;
    justify-content: flex-end;
  }
  main h1 {
    font-size: 45px;
  }
  main .section_principal {
    margin: 20px;
    width: 75%;
    height: 250px;
  }
  main section article .parrafo-principal {
    flex-direction: column;
  }
  main .imagenes-emblemas {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 10px;
    justify-items: center;
  }
  /*Casas*/
  main .contenedor-imagenes-casas {
    grid-template-columns: repeat(2, 1fr);
  }
  main h2,
  main h3 {
    font-size: 20px;
  }
  main .imagen-fondo {
    width: 100%;
  }
  main .contenedor-imagenes-personajes {
    grid-template-columns: repeat(2, 1fr);
    gap: 5px;
  }
  /*Videos*/
  iframe {
    width: 100%;
  }
  /*Merchandising*/
  .carrito-compras {
    justify-content: flex-start;
  }
  main .titulo-producto {
    padding: 70px;
    font-size: 40px;
  }
  main .contenedor-imagen-compra {
    grid-template-columns: repeat(2, 1fr);
    gap: 100px;
  }
  /*Contacto*/
  .parrafo-ventas {
    font-size: 20px;
    margin: 10px;
  }
  .contacto-mapa {
    justify-content: center;
  }
  .mapa {
    width: 55%;
    height: auto;
    margin: 0px;
  }
}
@media only screen and (max-width: 768px) {
  /*Index General*/
  header #navbarSupportedContent ul .nav-item {
    display: flex;
    justify-content: flex-end;
  }
  main h1 {
    font-size: 45px;
  }
  main .section_principal {
    margin: 20px;
    width: 75%;
    height: 250px;
  }
  main section article .parrafo-principal {
    flex-direction: column;
  }
  main .imagenes-emblemas {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 10px;
    justify-items: center;
  }
  main .nav-item {
    display: flex;
    justify-content: flex-end;
  }
  /*Casas*/
  main .contenedor-imagenes-casas {
    grid-template-columns: repeat(2, 1fr);
  }
  main h2,
  main h3 {
    font-size: 20px;
  }
  main .imagen-fondo {
    width: 100%;
  }
  main .contenedor-imagenes-personajes {
    grid-template-columns: repeat(2, 1fr);
    gap: 5px;
  }
  /*Videos*/
  iframe {
    width: 100%;
  }
  /*Merchandising*/
  .carrito-compras {
    justify-content: flex-start;
  }
  main .titulo-producto {
    padding: 70px;
    font-size: 40px;
  }
  main .contenedor-imagen-compra {
    grid-template-columns: repeat(2, 1fr);
    gap: 80px;
  }
  /*Contacto*/
  .parrafo-ventas {
    font-size: 20px;
    margin: 10px;
  }
  .contacto-mapa {
    justify-content: center;
  }
  .mapa {
    width: 55%;
    height: auto;
    margin: 0px;
  }
}
@media only screen and (max-width: 576px) {
  /*Index General*/
  header #navbarSupportedContent ul .nav-item {
    display: flex;
    justify-content: flex-end;
  }
  main h1 {
    font-size: 40px;
  }
  main .section_principal {
    margin: 20px;
    width: 65%;
    height: 250px;
  }
  main section article .parrafo-principal {
    flex-direction: column;
  }
  main .imagenes-emblemas {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    justify-items: center;
  }
  main .nav-item {
    display: flex;
    justify-content: flex-end;
  }
  /*Casas*/
  main .contenedor-imagenes-casas {
    grid-template-columns: repeat(1, 1fr);
  }
  main h2,
  main h3 {
    font-size: 20px;
  }
  main .imagen-fondo {
    width: 100%;
  }
  main .contenedor-imagenes-personajes {
    grid-template-columns: repeat(1, 1fr);
    gap: 5px;
  }
  /*Videos*/
  iframe {
    width: 100%;
  }
  /*Merchandising*/
  .carrito-compras {
    justify-content: flex-start;
  }
  main .titulo-producto {
    padding: 70px;
    font-size: 40px;
  }
  main .contenedor-imagen-compra {
    grid-template-columns: repeat(2, 1fr);
    gap: 80px;
  }
  /*Contacto*/
  .parrafo-ventas {
    font-size: 20px;
    margin: 10px;
  }
  .contacto-mapa {
    justify-content: center;
  }
  .mapa {
    width: 55%;
    height: auto;
    margin: 0px;
  }
}/*# sourceMappingURL=style.css.map */