
.titulo-ventas{
    display: flex;
    justify-content: center;
    padding: 10px;
    font-size: 25px;
    font-family: "Roboto", sans-serif;
    color: $colorPrincipal;
}
.parrafo-ventas{
    display: flex;
    justify-content: center;
    font-size: 25px;
    font-family: "Roboto", sans-serif;
    color: $colorPrincipal;
}

.contacto-mapa{
    display: flex;
    .mapa{
        padding: 15px;
        margin-left: 650px;
        width: 600px;
    }
}

.formulario-ventas{
    display: flex;
    flex-direction: column;
    padding: 10px;
    .titulo-formulario{
        display: flex;
        padding: 15px;
        flex-direction: row;
        justify-content: center;
        font-size: 25px;
        font-family: "Roboto", sans-serif;
        color: $colorPrincipal;
    }
    .form-contacto{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        .input-contacto{
            @include tamaños (300px, 30px);
            border: 2px solid $colorPrincipal;
        }
        label{
            font-family: "Noto Serif TC", serif;
            margin: 0px 5px;
            color: $colorPrincipal;
        }
        textarea{
            @include tamaños (300px, 315px);
            border: 2px solid $colorPrincipal;
        }
        .form-contacto--boton{
            display: flex;
            .form-compras{
                display: flex;
                flex-direction: column;
                align-items: center; 
            }
            .boton-compras{
                width: 100px;
                font-family: "Roboto", sans-serif;
                background-color: $colorPrincipal;
                display: flex;
                flex-direction: column;
                align-items: center;
                &:hover{
                filter: drop-shadow(1px 1px 1px white);
        }
            }
        }
    }
    
}